@{
    @model michaelherbert.org.ViewModels.ContactViewModel
    ViewBag.Title = "Home";
}


<div class="section bg-success">
    <div class="container bg-fill">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-responsive">Hello!  I'm Michael Herbert.<br></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row bg-fill">
            <div class="col-md-12" id="aboutSingleColumn">
                <img src="/Images/HerbertProfilePicture.jpg" alt="ProfilePicture" class="img-responsive" />
                <ul class="list-group-item-success single-Column-Text" style="background-color: #0683d180; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
                    <li>
                        <p>
                            I'm a <font size="4" face="Sansation" color="#E8B500">Freelance Web Developer</font>. &nbsp;I build websites from scratch.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have development experience in the following technologies: <font size="4" face="Sansation" color="#E8B500">ASP.NET, C#, Java, HTML, CSS, Javascript, SQL, TSQL.</font>
                            &nbsp;With regards to Javascript I have hands on experience working with <font size="4" face="Sansation" color="#7DCC70">Angular.JS, React.JS, and Bootstrap.JS </font> (which this website was developed with primarily)
                            as well as, and in my opinion most importantly, <font size="4" face="Sansation" color="#E8B500">vanilla Javascript</font>.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have a passion for Charity, and spend my free time raising money for <font size="4" face="Sansation" color="#7DCC70"><a href="https://www.extra-life.org/index.cfm?fuseaction=cms.page&id=1306"><u>Extra Life</u></a></font>
                        </p>
                    </li>
                    <li>
                        <p>
                            I am a deep thinker.  &nbsp;I graduated from the University of Kansas in 2010 with a <font size="4" face="Sansation" color="#7DC70">B.A. in Philosophy.</font><br />
                        </p>
                    </li>
                    <li>
                        <p>
                            I like to call the Philosophy of Logic <font size="4" face="Sansation" color="#E8B500">'English-Language coding'</font>.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-md-6" id="profilePicColumn">
                <img src="/Images/HerbertProfilePicture.jpg" class="img-responsive" alt="ProfilePicture">
            </div>

            <div class="col-md-6" id="backgroundColumn">


                <ul class="list-group-item-success" style="background-color: #0683d180; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
                    <li>
                        <p>
                            I'm a <font size="4" face="Sansation" color="#E8B500">Freelance Web Developer</font>. &nbsp;I build websites from scratch.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have development experience in the following technologies: <font size="4" face="Sansation" color="#E8B500">ASP.NET, C#, Java, HTML, CSS, Javascript, SQL, TSQL.</font>
                            &nbsp;With regards to Javascript I have hands on experience working with <font size="4" face="Sansation" color="#7DCC70">Angular.JS, React.JS, and Bootstrap.JS </font> (which this website was developed with primarily)
                            as well as, and in my opinion most importantly, <font size="4" face="Sansation" color="#E8B500">vanilla Javascript</font>.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have a passion for Charity, and spend my free time raising money for <font size="4" face="Sansation" color="#7DCC70"><a href="https://www.extra-life.org/index.cfm?fuseaction=cms.page&id=1306"><u>Extra Life</u></a></font>
                        </p>
                    </li>
                    <li>
                        <p>
                            I am a deep thinker.  &nbsp;I graduated from the University of Kansas in 2010 with a <font size="4" face="Sansation" color="#7DC70">B.A. in Philosophy.</font><br />
                        </p>
                    </li>
                    <li>
                        <p>
                            I like to call the Philosophy of Logic <font size="4" face="Sansation" color="#E8B500">'English-Language coding'</font>.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container bg-fill">
        <div class="row" style="color: rgba(232, 181, 0, 0.90);">
            <div class="col-lg-12">
                <hr />
                <h4 class="text-center w-responsive mx-auto">
                Github Repository: <a href="https://github.com/DannarHetoshi/michaelherbert.org">github.com/DannarHetoshi/michaelherbert.org</a>
                </h4> 
            </div>
        </div>
    </div>
    <div class="container bg-fill">
        <hr />
        <div class="row col-lg-12" style="color: rgba(232, 181, 0, 0.90);">
                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-5" style="margin-top: 0px; margin-bottom: 20px;">Contact Me</h2>
                <!--Section description-->
                <div class="col-sm-5">
                    <p class="text-left w-responsive mx-auto mb-5">
                        Thanks for visiting my site!  I'm thrilled that you'd like to get in touch with me.
                    </p>
                    <p class="text-left w-responsive mx-auto mb-5">
                        Are you a recruiter?  A Hiring Manager?  Do you have a freelance work you'd like to contract me for?
                    </p>
                    <p class="text-left w-responsive mx-auto mb-5">
                        Please find my contact information listed below!
                    </p>
                    <p class="text-center w-responsive mx-auto mb-5">
                    <p>
                    <p class="text-left" style="background-color: inherit; color: #E8B500;">Michael Herbert</p>
                    <p class="text-left" style="background-color: inherit; color: #E8B500;">Michael@MichaelHerbert.org</p>
                    <p class="text-left" style="background-color: inherit; color: #E8B500;">913.269.4114</p>
                    <ul class="text-left list-unstyled list-inline list-social-icons" style="font-size: 24px; color: rgba(232, 181, 0, 0.90);">
                        <li class="">Find me on: </li>
                        <li class="tooltip-social linkedin-link"><a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/michael19herbert84"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="https://www.twitter.com/DannarHetoshi"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>

                @if (ViewBag.Message == null)
                {
                    <div class="col-sm-7">
                        <!--Grid column-->
                        <div class="col-md-12 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" method="POST" style="padding-left: 10px;">
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Your name</label>
                                            <input type="text" id="name" name="name" class="form-control">

                                        </div>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Your email</label>
                                            <input type="text" id="email" name="email" class="form-control">

                                        </div>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="">Subject</label>
                                            <input type="text" id="subject" name="subject" class="form-control">

                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <label for="message">Your message</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center text-md-left">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                                <!--Grid row-->
                            </form>
                            <div>
                                @if (ViewBag.Message != null)
                                {
                                    <div>@ViewBag.Message</div>
                                }
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                    </div>
                }
                <!--Grid column-->
        </div>
    </div>
</div>