@{
    ViewBag.Title = "One Column Portfolio";
}

<div class="container bg-success">
    <div class="row bg-fill">
        <div class="col-lg-12">
            <h1 class="page-header" style="color: #E8B500">
                Some of my Work
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Portfolio</li>
            </ol>
        </div>
    </div>
    <div class="row bg-fill" style="height: -webkit-fill-available;">
        <div class="col-lg-9 portfolio1">
            <iframe class="iFrameContent" id="portfolio1" src="http://www.dannarhetoshi.com/home.aspx" style="height: 600px;"></iframe>

        </div>
        <div class="col-md-2 portfolio2" style="color: #E8B500;">
            <h3>DannarHetoshi.com</h3>
            <h4>Dannar Hetoshi's Extra Life Charity Fundraising Website</h4>
            <a href="http://www.dannarhetoshi.com" class="btn btn-primary">View Project <i class="fa fa-angle-right"></i></a>
        </div>
    </div>


</div>

