@{
    ViewBag.Title = "About";
}


<div class="section bg-success">
    <div class="container bg-fill">
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <h1 class="page-header">
                <font color="E8B500">About Michael Herbert-</font><br />
                <small>My 'Elevator Pitch'!
                    
                </small>
            </h1>
            <ol class="breadcrumb" style="background-color: #ecf0f100">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
        @*<div class="row container">*@
        <div class="row" style="padding-bottom: 15px;">
            <div class="col-lg-12" id="aboutSingleColumn">
                <img src="/Images/HerbertProfilePicture.jpg" alt="ProfilePicture" class="img-responsive" />
                <ul class="list-group-item-success single-Column-Text" style="background-color: #0683d180; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
                    <li>
                        <p>
                            I'm a <font size="4" face="Sansation" color="#E8B500">Freelance Web Developer</font>. &nbsp;I build websites from scratch.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have development experience in the following technologies: <font size="4" face="Sansation" color="#E8B500">ASP.NET, C#, Java, HTML, CSS, Javascript, SQL, TSQL.</font>
                            &nbsp;With regards to Javascript I have hands on experience working with <font size="4" face="Sansation" color="#7DCC70">Angular.JS, React.JS, and Bootstrap.JS </font> (which this website was developed with primarily)
                            as well as, and in my opinion most importantly, <font size="4" face="Sansation" color="#E8B500">vanilla Javascript</font>.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have a passion for Charity, and spend my free time raising money for <font size="4" face="Sansation" color="#7DCC70"><a href="https://www.extra-life.org/index.cfm?fuseaction=cms.page&id=1306"><u>Extra Life</u></a></font>
                        </p>
                    </li>
                    <li>
                        <p>
                            I am a deep thinker.  &nbsp;I graduated from the University of Kansas in 2010 with a <font size="4" face="Sansation" color="#7DC70">B.A. in Philosophy.</font><br />
                        </p>
                    </li>
                    <li>
                        <p>
                            I like to call the Philosophy of Logic <font size="4" face="Sansation" color="#E8B500">'English-Language coding'</font>.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-md-6" id="profilePicColumn">
                <img src="/Images/HerbertProfilePicture.jpg" class="img-responsive" alt="ProfilePicture">
            </div>

            <div class="col-md-6" id="backgroundColumn">
                <ul class="list-group-item-success" style="background-color: #0683d180; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">
                    <li>
                        <p>
                            I'm a <font size="4" face="Sansation" color="#E8B500">Freelance Web Developer</font>. &nbsp;I build websites from scratch.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have development experience in the following technologies: <font size="4" face="Sansation" color="#E8B500">ASP.NET, C#, Java, HTML, CSS, Javascript, SQL, TSQL.</font>
                            &nbsp;With regards to Javascript I have hands on experience working with <font size="4" face="Sansation" color="#7DCC70">Angular.JS, React.JS, and Bootstrap.JS </font> (which this website was developed with primarily)
                            as well as, and in my opinion most importantly, <font size="4" face="Sansation" color="#E8B500">vanilla Javascript</font>.
                        </p>
                    </li>
                    <li>
                        <p>
                            I have a passion for Charity, and spend my free time raising money for <font size="4" face="Sansation" color="#7DCC70"><a href="https://www.extra-life.org/index.cfm?fuseaction=cms.page&id=1306"><u>Extra Life</u></a></font>
                        </p>
                    </li>
                    <li>
                        <p>
                            I am a deep thinker.  &nbsp;I graduated from the University of Kansas in 2010 with a <font size="4" face="Sansation" color="#7DC70">B.A. in Philosophy.</font><br />
                        </p>
                    </li>
                    <li>
                        <p>
                            I like to call the Philosophy of Logic <font size="4" face="Sansation" color="#E8B500">'English-Language coding'</font>.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container row carousel slide bg-fill" id="aboutCarouselControls" style="padding-top: 15px; padding-bottom: 30px;">
        <div class="container">
            <hr />
        </div>
        <h1 class="panel-heading" style="color: #E8B500">Education:</h1>
        <small class="panel-heading" style="color: #E8B500"> Master of Computer Information Systems - Colorado State University</small><br /><br />
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#aboutCarouselControls" data-slide-to="0" class="active"></li>
            <li data-target="#aboutCarouselControls" data-slide-to="1"></li>
            <li data-target="#aboutCarouselControls" data-slide-to="2"></li>
        </ol>
        <!--Wrapper for Slides-->
        <div class="carousel-inner">

            <div class="item active">

                <div class="fill" style="background-image:url('../../Images/Colorado State University COB.jpg'); background-color: rgba(29,29,29,0.75);"></div>

                <img class="d-block w-100 img-responsive" src="/Images/Colorado State University COB.jpg" />

                <div class="carousel-caption bg-fill">
                    <h3 class="carousel-caption-text" style="color: #E8B500; font-family: 'Sansation';">Software & Database Development</h3>
                    <ul class="list-group-item" style="background-color: inherit; border: inherit;">
                        <li>
                            CIS 605 - Business Visual Application Development
                        </li>
                        <li>
                            CIS 606 - Application Software Infrastructure
                        </li>
                        <li>
                            CIS 610 - Software Development Methodology
                        </li>
                        <li>
                            CIS 611 - Object-Oriented Systems
                        </li>
                        <li>
                            CIS 655 - Business Database Systems
                        </li>
                        <li>
                            CIS 665 - E-Business Application Technologies
                        </li>
                    </ul>
                </div>

            </div>

            <div class="item">
                <div class="fill" style="background-color: rgba(29,29,29,.75);"></div>

                <img class="d-block w-100 img-responsive" src="/Images/Colorado State University COB.jpg" style="background-color: rgba(29,29,29,.75);" />

                <div class="carousel-caption bg-fill">
                    <h3 class="carousel-caption-text" style="color: #E8B500; font-family: 'Sansation';">Business Intelligence & Analysis</h3>
                    <ul class="list-group-item" style="background-color: inherit; border: inherit;">
                        <li>
                            CIS 575 - Applied Data Mining and Analytics in Business
                        </li>
                        <li>
                            CIS 601 - Enterprise Computing and Systems Integration
                        </li>
                        <li>
                            CIS 655 - Business Database Systems
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item">
                <div class="fill" style="background-color: rgba(29,29,29,.75);"></div>

                <img class="d-block w-100 img-responsive" src="/Images/Colorado State University COB.jpg" />

                <div class="carousel-caption bg-fill">
                    <h3 class="carousel-caption-text" style="color: #E8B500; font-family: 'Sansation';">Project Management</h3>
                    <ul class="list-group-item" style="background-color: inherit; border: inherit;">
                        <li>
                            CIS 610 - Software Development Methodology
                        </li>
                        <li>
                            CIS 655 - Business Database Systems
                        </li>
                        <li>
                            CIS 670 - Advanced IT Project Management
                        </li>
                        <li>
                            CIS 675 - Agile Management and Product Development
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#aboutCarouselControls" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#aboutCarouselControls" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
