
@{
    ViewBag.Title = "Verify Account";
}


<div class="section bg-success">
    <section class="section" style="color: rgba(232, 181, 0, 0.90)">
        <div class="container bg-fill">
            <h2>@Html.Raw(TempData["msg"])</h2>
            <div>
                <h2>@Html.ActionLink("Back to Login Page", "..//Login/Login")</h2>
            </div>
        </div>
    </section>
</div>



